<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e6cf7acf81.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AirBnB</title>
</head>
<body>
    <section>
        <div>
        <i class="fas fa-phone-alt"> 456-908-8976</i>
        </div>
        <div>
        <i class="fas fa-envelope-open-text"> airbnb@gmail.com</i>
        </div>
        <div>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-invision"></i>
        </div>
    </section>
    <header class="head">  
        <div>
            <img src="../img/logo.jpg" class="logo">
        </div> 
        <div> 
            <a href="roomlisting.html" class="nav">Room Listing</a>
            <a href="#" class="nav">Product</a>
            <a href="#" class="nav">Gallery</a>
            <a href="#" class="nav">Solutions</a>
            <a href="#" class="nav">Resources</a>
            <a href="#" class="nav">Contact Us</a>
       </div>
           <p>Live the wonderful life</p>
    </header> 
    <main>
        <form>
            <h4>Arrival Date</h4>
            <input type="datetime-local" placeholder="2019,May 5th">
            <h4>Departure Date</h4>
            <input type="datetime-local" placeholder="2019,May 5th">
            <h4>Room</h4>
            <select>
                <option value="volvo">1</option>
                <option value="saab">2</option>
                <option value="fiat">3</option>
                <option value="saab">4</option>
                <option value="fiat">5</option>
            </select>
            <h4>Adults</h4>
            <input type="text">
            <h4>Budget</h4>
            <input type="text">
            <button>Check Availbility</button>
          </form>
    </main>
    <section class="promotion">
        <div>
        <img src="/img/bed.gif" alt="bad" class="gif">
        </div> 
        <div class="information">
        <h1 class="info">Places to stay in Canada</h1>
        <h5>4.5 out of 5stars with 7,00,0000+reviews</h5>
            <img src="/img/room1.jpeg" alt="Room-1">
            <p class="bio">This was my second time stay at Emil's and it was a great experience this time too. The room was clean and bright, well appointed</p>
            <img src="/img/boy.jpg" alt="boy" class="rating-view">  Matthew ,Canada
            <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
            <img src="/img/room 2.jpg" alt="Room-2">
            <p class="bio">We had a perfect host, a perfect location in the city, friendly and very quiet and friendly neighbourhood.Very good host and amazing house!!! Tammy was very friendly and have a really nice familly! The bedroom was exactly as the pictures</p>
            <img src="/img/girl.jpg" alt="boy" class="rating-view">  Elley ,Canada
            <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
        </div>
    </section>
    <section class="Information">
        <div>
        <h1>Why host on Airbnb?</h1>
        <p class="bio">No matter what kind of home or room you have to share, Airbnb makes it simple and secure to host travellers. You’re in full control of your availability, prices, house rules, and how you interact with guests.</p>
        </div>
        <div>
        <h1>Airbnb protects hosts</h1>
        <p class="bio">To keep you, your home, and your belongings safe, we cover every booking with $1M USD in property damage protection and another $1M USD in insurance against accidents.

            Learn how Airbnb protects hosts</p>
        </div>
        <div>
            <h1>Guests are verified</h1>
        <p class="bio">Airbnb always requires guests to provide certain information before they can make a reservation—such as a confirmed phone number and email address. For added control, you can require guests to also provide recommendations from other hosts and a verified ID.</p>
        </div>
    </section>
    <section class="join-page">
    <h2>Ready to join?</h2><br>
    <a href="userregistration.html"><button class="join">Join Now</button></a>
</section>
<div class="footer-link">
<section >  
  <ul>
    <li><a href="#">Career</a></li>
    <li><a href="#">News</a></li>
    <li><a href="#">Policies</a></li>
  </ul>
</section>
  <section >  
  <ul>
    <li><a href="#">Trust & Safety </a></li>
    <li><a href="#">Travel Credit</a></li>
    <li><a href="#">Airbnb Citizen</a></li>
  </ul>
</section>
  <section>  
  <ul>
    <li><a href="#">Business Travel</a></li>
    <li><a href="#">1-click Setting</a></li>
    <li><a href="#">Help</a></li>
  </ul>  
</section>  
<section>  
    <ul>
      <li><a href="#">Business</a></li>
      <li><a href="#">click Setting</a></li>
      <li><a href="#">Help ID</a></li>
    </ul>  
  </section> 
<section >  
  <ul>
    <li><a href="#">Terms of Use</a></li>
    <li><a href="#">Privacy Policy</a></li>
    <li><a href="#">Accessibility Policy</a></li>
  </ul>
</section>    
</div>
<p>&copy; Copyright, 1991.</p>
</body>
</html>