<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e6cf7acf81.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AirBnB</title>
</head>
<body>
    <section class="navigation">
        <div>
        <i class="fas fa-phone-alt"> 456-908-8976</i>
        </div>
        <div>
        <i class="fas fa-envelope-open-text"> airbnb@gmail.com</i>
        </div>
        <div>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-invision"></i>
        </div>
    </section>
    <header class="head">  
        <div>
            <img src="../img/logo.jpg" class="logo">
        </div> 
        <div> 
            <a href="/home" class="nav">Home </a>
            <a href="/roomlisting" class="nav">Room Listing</a>
            <a href="#" class="nav">Product</a>
            <a href="#" class="nav">Gallery</a>
            <a href="#" class="nav">Solutions</a>
            <a href="#" class="nav">Resources</a>
       </div>
           <p>Live the wonderful life</p>
    </header> 
    
  <section>
    {{{body}}}
  </section>

<div class="footer-link">
<section >  
  <ul>
    <li><a href="#">Career</a></li>
    <li><a href="#">News</a></li>
    <li><a href="#">Policies</a></li>
  </ul>
</section>
  <section >  
  <ul>
    <li><a href="#">Trust & Safety </a></li>
    <li><a href="#">Travel Credit</a></li>
    <li><a href="#">Airbnb Citizen</a></li>
  </ul>
</section>
  <section>  
  <ul>
    <li><a href="#">Business Travel</a></li>
    <li><a href="#">1-click Setting</a></li>
    <li><a href="#">Help</a></li>
  </ul>  
</section>  
<section>  
    <ul>
      <li><a href="#">Business</a></li>
      <li><a href="#">click Setting</a></li>
      <li><a href="#">Help ID</a></li>
    </ul>  
  </section> 
<section >  
  <ul>
    <li><a href="#">Terms of Use</a></li>
    <li><a href="#">Privacy Policy</a></li>
    <li><a href="#">Accessibility Policy</a></li>
  </ul>
</section>    
</div>
<p>&copy; Copyright, 1991.</p>
</body>
</html>