<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e6cf7acf81.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}} </title>
     {{#each messages}}

    <div class="errors">{{this}}</div>

    {{/each}} 
    </head>
    <body>
  <form  action="/sendLogin"method="POST">
  <div class="container">
    <h1>Login with <a href="#" class="link">Facebook</a> Either <a href="#" class="link">Google</a> </h1>
    <h1>Don't have an account? <a href="/userregistration" class="link">Sign Up Here</a></h1>
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname">

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw">

    <button type="submit">Login</button>
    <button type="button" class="cancelbtn">Cancel</button>
    <label>
      <span class="psw">Forgot <a href="#" class="link">password?</a></span>
    </label>
  </div>
</form>
</body>
</html>
