<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/logout.css">
    <script src="https://kit.fontawesome.com/e6cf7acf81.js" crossorigin="anonymous"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    </header class="logoutheader"> 
    <h4> You are sucessfully Logged out</h4>
    <h1>Here !!!! To live the life and enjoy the all over world!!!</h1>
    <P>To visit and experince more awaited trip..booked your Plan here...</P>
    <a href="/login" class="logoutlink">Login Here</a>
 </header>
 </head> 
 </html>     