<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/roomlisting.css">
    <script src="https://kit.fontawesome.com/e6cf7acf81.js" crossorigin="anonymous"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    </header> 
    <h1> Top places to stay in Toronto</h1>
    <h4> More than 100 Places out of 5 star</h4>
    <section class="image-display">
    <div>
        <img src="/images/T1.jpeg">
        <p>Seahell house [Etobicoke]</p>
        <h5>$393 CAD/Night</h5>
    </div>
    <div>
        <img src="/images/T2.jpeg">
        <p>Romatic Cabine House [DownTown]</p>
        <h5>$293 CAD/Night</h5>
    </div>
    <div>
        <img src="/images/T3.jpeg">
        <p>New York house [DownTown]</p>
        <h5>$393 CAD/Night</h5>
    </div>
    </section>
    <section class="image-display">
    <div>
        <img src="/images/T4.jpg">
        <p>Seahell house [Markham]</p>
        <h5>$300 CAD/Night </h5>
    </div>
    <div>
        <img src="/images/T5.jpg">
        <p>Tree house [Etobicoke]</p>
        <h5>$234 CAD/Night</h5>
    </div>
    <div>
        <img src="/images/T6.jpeg">
        <p>Cottage house [Habourfront Side]</p>
        <h5>$654 CAD/Night </h5>
    </div>
</section>
<section class="image-display">
    <div>
        <img src="/images/T7.jpeg">
        <p>Mashroom Doom house [vaughan]</p>
        <h5>$234 CAD/Night </h5>
    </div>
    <div>
        <img src="/images/T8.jpeg">
        <p>Seahell house [DownTown]</p>
        <h5>$134 CAD/Night </h5>
    </div>
    <div>
        <img src="/images/T2.jpeg">
        <p>Down hall house [Etobicoke]</p>
        <h5>$134 CAD/Night </h5>
    </div>
</section>

</body>
</html>