<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e6cf7acf81.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/userregistration.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <form action="/sendMessage" method="POST">
      <div class="container">
          <h1>Sign Up</h1>
          <hr>
           <h2>Name</h2>
          {{!-- <input type="text" placeholder="Enter Name" name="FirstName" id="o_FirstName"> --}}
          <p id="o_FirstName"> Name </p>
          <h2>Address</h2>
          <input type="text" placeholder="Enter Address" name="Address" id="o_Address">
            
          <h2>Postal Code</h2>   
          <input type="text" placeholder="Enter Postal Code" name="PostalCode" id="o_PostalCode">

          <h2>Phone Number </h2> 
          <input type="text" placeholder="Enter Phone Number" name="phoneNo" id="o_phoneNo">

          <h2>City</h2> 
          <input type="text" placeholder="Enter City" name="City" id="o_City">

          <h2>State</h2>
          <input type="text" placeholder="Enter State" name="State" id="o_State">

          <h2>Email</h2>
          <input type="text" placeholder="Enter Email" name="email" id="o_email">
    <div>

  </form>
  
</body>
</html>