<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e6cf7acf81.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/userregistration.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    {{#each messages}}

    <div class="errors">{{this}}</div>

    {{/each}}

    <form action="/sendMessage" method="POST">
      <div class="container">
          <h1>Sign Up</h1>
          <hr>
          <label><b>Name</b></label>
          <input type="text" placeholder="Enter Name" name="FirstName" class="frst">

          <label for="email"><b>Address</b></label>
          <input type="text" placeholder="Enter Address" name="Address">

          <label for="email"><b>Postal Code</b></label>
          <input type="text" placeholder="Enter Postal Code" name="PostalCode">

          <label for="email"><b>Phone Number</b></label>
          <input type="text" placeholder="Enter Phone Number" name="phoneNo">

          <label for="email"><b>City</b></label>
          <input type="text" placeholder="Enter City" name="City">

          <label for="email"><b>State</b></label>
          <input type="text" placeholder="Enter State" name="State">

          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email">
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw">
      
          <label for="psw-repeat"><b>Repeat Password</b></label>
          <input type="password" placeholder="Repeat Password" name="psw-repeat">
    <div>
      <div class="col-50">
        <h3>Payment here</h3>
        <label for="cname">Name on Card</label>
        <input type="text" id="cname" name="cardname">
        <label for="ccnum">Credit card number/Debit Card Number</label>
        <input type="text" id="ccnum" name="cardnumber">
        <label for="expmonth">Exp Month</label>
        <input type="text" id="expmonth" name="expmonth">
      <div class="row">
      <div class="col-50">
        <label for="expyear">Exp Year</label>
        <input type="text" id="expyear" name="expyear">
        </div>
        <div class="col-50">
          <label for="cvv">CVV</label>
          <input type="text" id="cvv" name="cvv">
        </div>
      </div>
    </div>
      <p class="statement">By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
    <div class="clearfix">
      <button type="button" class="cancelbtn">Cancel</button>
      <button type="submit" class="signupbtn">SIGN UP </button>
     </div>
  </form>
</body>
</html>