<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e6cf7acf81.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/userdashboard.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
  <body>
      <h1 class="name">WELCOME TO AIRBNB {{user.FirstName}}</h1><br>

      <h5> You are sucessfully Logged in</h5>
    <h5>Here !!!! To live the life and enjoy the all over world!!!</h5>
   </body>
   </head>
   </html>   