body{
    background-color: #E6E6FA;
}.tasks-container{
    margin-top:1rem;
    
}
.table{
   margin: 5rem 17rem;
}
.nav{
    visibility: hidden;
    display: none;
}
.nav1{
    color:black;
    text-decoration-line: none;
    padding-left: 1rem;
 }
 .linklogout{
    color: black;
    border: 2px solid black;
    padding: 1rem;
    float: right;
    margin-right: 4rem;
}
th{
    padding:1rem;
    color: blue;
}
td{
    padding:1rem;
}
.edit-delete-button,.task-title{
    color: brown;
    text-decoration-line: none;
}
@media screen and (min-width:300px) and (max-width: 700px){
    .navigation{
        visibility: hidden;
        display: none;
    }
    .table{
        margin: 5rem 2rem;
     }
     th{
        padding:0.5rem;
        color: blue;
    }
    td{
        padding:0.5rem;
    }
}
@media screen and (max-width: 1400px) and (min-width: 700px){
    .table{
        margin: 5rem 1rem;
     }
     .navigation{
        visibility: hidden;
        display: none;
    }
    .nav1{
        margin-top: 3rem;
        color:black;
        text-decoration-line: none;
        padding-left: 1rem;
     }
}
