/* Bordered form */
form {
  border: 2px solid #f1f1f1;
  padding: 2.5rem;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  height: 3rem;
  text-align: center;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  background-color: #f44336;
  height: 3rem;
  text-align: center;
}

.container {
  padding: 16px;
}
span.psw {
  float: left;
  padding-top: 16px;
}
@media screen and (max-width: 700px) {
  input[type=text], input[type=password] {
    width: 100%;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  } 
  .container {
    width: 100%;
    margin-left: -2em;
    /* padding: 16px; */
  } 
  .cancelbtn {
    margin: 0.5em;
    padding-bottom: 1.5em;
    height: 2.5em;
  }
  span.psw {
    display: block;
    float: none;
  }
  button{
    margin-right: 0.5rem;
    height: 2.5em;
  }
}