h4{
    color: brown;
    text-align: center
}
.logoutheader{
    margin-top: 20rem;
}
h1{

    color: black;
    text-align: center;
    text-shadow: 1px 1px #A360C3;
    font-size: 1rem;
}
p{
    color:#25A27C;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 0%;
}
.logoutlink{
    width: 50%;
    margin-left: 20rem;
    text-decoration-line: none;
    color: white;
    font-size: 1.5rem;
    border: 1px solid black;
    padding: 1rem;
    text-align: center;
    margin-bottom : 2rem;
    display: block;
    background-color : #0372D3;
}
.logoutlink:hover{
     background-color: bisque;
}
.nav , .head , .footer-link{
    visibility: hidden;
    display: none;
}
@media screen and (min-width:300px) and (max-width: 700px){
    .logoutlink{
        width: 50%;
        margin-left: 4.5rem;
        text-decoration-line: none;
        color: white;
        font-size: 1.5rem;
        border: 1px solid black;
        padding: 1rem;
        text-align: center;
        margin-bottom : 2rem;
        display: block;
        background-color : #0372D3;
    }
}
@media screen and (max-width: 1400px) and (min-width: 700px){
    .logoutlink{
        width: 50%;
        margin-left: 10rem;
        text-decoration-line: none;
        color: white;
        font-size: 1.5rem;
        border: 1px solid black;
        padding: 1rem;
        text-align: center;
        margin-bottom : 2rem;
        display: block;
        background-color : #0372D3;
    }
}